.AddButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    border-radius: 6px;
    color: black;
    border-color: white;
    border-width: 1px;
    outline: none;
    background-color: white;
    border-style: solid;
    overflow: hidden;
    cursor: pointer;
}

.AddButton:hover {
    background-color: green;
    border-color: green;
    color: white;
}

.AddButton-Icon {
    vertical-align: middle;
    background-color: green;
    color: white;
}

.AddButton-Label {
    padding: 4px;
}