.AddButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    border-radius: 6px;
    color: black;
    border-color: var(--white);;
    border-width: 1px;
    outline: none;
    background-color: var(--white);;
    border-style: solid;
    overflow: hidden;
    cursor: pointer;
}

.AddButton:hover {
    background-color: var(--focus-color);
    border-color: var(--focus-color);
    color: var(--focus-white);
}

.AddButton-Icon {
    vertical-align: middle;
    background-color: var(--green);
    color: var(--white);
}

.AddButton-Label {
    padding: 4px;
}