:root {
    --green: rgb(16, 162, 16);
    --red: rgb(255, 32, 32);
    --white: rgb(224, 224, 224);
    --focus-white: white;
    --focus-color: rgb(41, 122, 209);
}

.App {
    flex-direction: row;
    text-align: center;
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background: rgb(24, 24, 24);
}

.App-Preview {
    flex: 1;
}

@media only screen and (max-aspect-ratio: 12/9) {
    .App {
        flex-direction: column;
        height: auto;
    }

    .App-Preview {
        min-height: 100vh;
    }
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.App-FadeOut {
    animation-name: fadeOut;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.App-FadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

::selection {
    background: var(--green);
    color: var(--focus-white);
}

::-moz-selection {
    background: var(--green);
    color: var(--focus-white);
}