.CheckBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    background: none;
    border: none;
    border-color: var(--white);
    outline: none;
    overflow: hidden;
    color: var(--white);
}

.CheckBox:hover {
    --label-color: var(--focus-color);
    border-color: var(--focus-color);
    color: var(--focus-white);
    cursor: pointer;
}

.CheckBox-Icon {
    vertical-align: middle;
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 18px;
}

.CheckBox-Icon-Unchecked {
    color: transparent;
}

.CheckBox-Icon-Checked {
    background: var(--green);
}

.CheckBox-Label {
    padding: 4px;
    color: var(--label-color);
}