.CollapsibleComponent {
    background-color: rgba(127, 127, 127, 0.05);
    border-radius: 8px;
    padding: 8px;
    display: grid;
    grid-template-columns: 24px auto;
    gap: 4px;
}

.CollapsibleComponent-Button {
    padding: 0px;
    background: none;
    border: none;
    outline: none;
    color: white;
}

.CollapsibleComponent-Icon {
    background: none;
    color: white;
}

.CollapsibleComponent-Icon:hover {
    color: green;
}

.CollapsibleComponent-Title {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
}

.CollapsibleComponent-TitleLabel {
    flex-grow: 1;
}

.CollapsibleComponent-Content {
    grid-column: 2;
    grid-row: 2;
}
