.CollapsibleComponent {
    display: grid;
    justify-content: start;
}

.CollapsibleComponent-Button {
    background: none;
    border: none;
    outline: none;
    color: white;
}

.CollapsibleComponent-Icon {
    background: none;
    color: white;
}

.CollapsibleComponent-Icon:hover {
    color: green;
}

.CollapsibleComponent-Title {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}

.CollapsibleComponent-Content {
    grid-column: 2;
    grid-row: 2;
}
