.ComboBox {
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: var(--white);
    color: black;
}

.ComboBox:hover, .ComboBox:focus {
    background-color: var(--focus-color);
    color: var(--focus-white);
}

.ComboBox-Option {
    background-color: var(--white);
    color: black;
    border-radius: 4px;
}