.EditibleLabel {
    background: none;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    outline: none;
    color: white;
    border-radius: 4px;
    text-align: left;
}

.EditibleLabel:hover {
    color: green;
}

.EditibleLabel:focus {
    border-color: green;
    color: white;
}

.EditibleLabel:read-only {
    pointer-events: none;
}