.ResumeForm {
    box-sizing: border-box;
    width: 60%;
    padding: 8px;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}
