.SpinBox {
    outline: none;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--white);
    background: none;
    color: var(--white);
}

.SpinBox:focus, .SpinBox:hover {
    border-color: var(--focus-color);
    color: var(--focus-white);
}

.SpinBox[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}