.UnderlinedInput {
    box-sizing: border-box;
    padding: 4px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--white);
    border-width: 1px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

.UnderlinedInput:focus, .UnderlinedInput:hover {
    border-color: var(--focus-color);
    color: var(--focus-white);
}